.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.env
src/main/resources/application-kakao.yml
src/main/resources/application-tmap.yml
src/main/resources/application-private.yml
*.iml
.idea/
.project
.classpath
.settings/
.metadata/
bin/
